/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'WaltographRegular';
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'WaltographRegular';
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 1rem;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 1rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 1rem;
}
img {
  max-width: 100%;
  height: 55rem;
  border: 0.1rem solid #dd9222;
  box-shadow: 0.1rem 0.1rem 0.5rem #303EFF;
  border-radius: 30rem;
  object-fit: cover;
  position: relative;
}
.width-100 {
  width: 100%;
}
.section {
  width: 100%;
  min-height: 40rem;
  margin: 4.5rem auto;
  display: flex;
  background: linear-gradient(to right, #fcf4e9, #E9B870);
  overflow: hidden;
}
@media (max-width: 500px) {
  .section {
    background: none;
    margin: 2rem 0 0.5rem 0;
    line-height: 2rem;
  }
}
.section .box {
  padding: 4rem;
}
@media (max-width: 500px) {
  .section .box {
    box-shadow: 0.5rem 0.5rem 0.5rem #E9B870;
  }
}
.section .box .title {
  font-size: 6rem;
  font-weight: bold;
  color: #303EFF;
}
@media (max-width: 500px) {
  .section .box .title {
    font-size: 3rem;
    color: #E9B870;
    line-height: 4rem;
    margin-left: 3rem;
  }
}
.section .box .move {
  margin-left: 78rem;
  padding-bottom: 1rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .section .box .move {
    margin-left: 31rem;
  }
}
@media (max-width: 500px) {
  .section .box .move {
    margin-left: 8.8rem;
  }
}
.section .box .description {
  font-family: 'Merienda', cursive;
  font-size: 1.6rem;
  padding-top: 3rem;
}
@media (max-width: 500px) {
  .section .box .description {
    line-height: 2.3rem;
  }
}
.section .box .description span {
  font-family: 'WaltographRegular';
  font-size: 3.5rem;
  color: #303EFF;
}
@media (max-width: 500px) {
  .section .box .description span {
    font-size: 2.5rem;
    color: #E9B870;
  }
}
.full-width {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
.half-width {
  width: 49.5%;
  flex-flow: row-wrap;
  justify-content: space-between;
}
.parent-image {
  border-radius: 20rem;
  margin-left: 2rem;
  padding: 1rem;
}
.app-link {
  min-height: 50rem;
  height: 100%;
  margin-top: 4.5rem;
  background: url('../img/couple.jpg') center center;
  background-size: cover;
  position: relative;
}
@media (max-width: 500px) {
  .app-link {
    width: 90%;
    max-height: 30rem;
    margin: 0 2rem;
    border: 0.1rem solid #E9B870;
    box-shadow: 0.1rem 0.1rem 0.5rem #dd9222;
    border-radius: 1rem;
    overflow: hidden;
  }
}
.app-link h2 {
  margin: 0 0 5.5rem 2.5rem;
  padding: 4rem 0 0 30rem;
  color: #dd9222;
}
@media (min-width:501px) and (max-width:1024px) {
  .app-link h2 {
    margin: 0 0 2.5rem 0.5rem;
    padding: 4rem 0 0 15rem;
  }
}
@media (max-width: 500px) {
  .app-link h2 {
    font-size: 2.8rem;
    padding: 0 0;
    padding-top: 5rem;
    margin-bottom: 2.5rem;
  }
}
.app-link .btn {
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4.1rem;
  background-color: #FFFFFF;
  color: #E9B870;
  border: 0.1rem solid #636eff;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: 'WaltographRegular';
  font-weight: lighter;
  font-style: normal;
  margin-left: 50rem;
  border-color: #E9B870;
  box-shadow: 0.5rem 0.5rem 0.5rem #E9B870;
}
@media (max-width: 500px) {
  .app-link .btn {
    width: 100%;
  }
}
.app-link .btn:hover {
  background: #303EFF;
  color: #FFFFFF;
}
@media (min-width:501px) and (max-width:1024px) {
  .app-link .btn {
    margin-left: 31rem;
  }
}
@media (max-width: 500px) {
  .app-link .btn {
    margin-left: 15rem;
    width: 19rem;
  }
}
.app-link .footer-container {
  display: flex;
  margin-top: 21rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .app-link .footer-container {
    padding-left: 3rem;
  }
}
@media (max-width: 500px) {
  .app-link .footer-container {
    margin-top: 20.5rem;
  }
}
.app-link .footer-container h4 {
  padding-left: 10rem;
  color: #E9B870;
}
@media (max-width: 500px) {
  .app-link .footer-container h4 {
    padding-left: 0;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}
.app-link .footer-container div.container {
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
}
.app-link .footer-container ul {
  list-style: none;
  margin: 0;
  padding-left: 3rem;
}
@media (max-width: 500px) {
  .app-link .footer-container ul {
    padding-left: 1rem;
  }
}
.app-link .footer-container ul li {
  min-width: 16rem;
  padding: 1rem;
  float: left;
  font-family: 'Merienda', cursive;
  font-size: 1.4rem;
  color: #dd9222;
}
@media (max-width: 500px) {
  .app-link .footer-container ul li {
    min-width: auto;
    font-size: 0.8rem;
    padding: 0.4rem;
  }
}
.app-link .footer-container ul li a {
  text-decoration: none;
  color: #dd9222;
}
.app-link .footer-container ul li a a:visited {
  color: #dd9222;
}
.app-link .footer-container ul li a a:focus {
  color: #dd9222;
}
.app-link .footer-container ul li a:hover {
  text-decoration: underline;
  color: #E9B870;
}
.app-link h6 {
  color: #E9B870;
  font-size: 2rem;
  margin-top: -0.98rem;
  padding-left: 62rem;
  padding-right: 58rem;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width:501px) and (max-width:1024px) {
  .app-link h6 {
    margin-top: -0.95rem;
    padding: 0 20rem 0 29rem;
  }
}
@media (max-width: 500px) {
  .app-link h6 {
    padding: 1rem 0 3rem 13.5rem;
    font-size: 1.2rem;
  }
}
/* Slideshow container */
.slideshow-container {
  max-width: 100rem;
  position: relative;
  margin: auto;
}
@media (max-width: 500px) {
  .slideshow-container {
    display: none;
  }
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -2.2rem;
  padding: 1.6rem;
  color: #E9B870;
  font-weight: bold;
  font-size: 1.8rem;
  transition: 0.6s ease;
  border-radius: 0 0.3rem 0.3rem 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 0.3rem 0 0 0.3rem;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
/* Caption text */
.text {
  color: #303EFF;
  font-size: 2.5rem;
  padding: 0.8rem 1.2rem;
  position: absolute;
  bottom: 0.8rem;
  width: 100%;
  text-align: center;
  background-color: #FFFFFF;
  overflow: hidden;
  opacity: 0.8;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #E9B870;
  font-size: 1.6rem;
  padding: 0.8rem 1.6rem;
  position: absolute;
  top: 0;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  background-color: #dd9222;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
@media (max-width: 500px) {
  .dot {
    display: none;
  }
}
.active,
.dot:hover {
  background-color: #303EFF;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
.nav-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 5rem;
  text-decoration: none;
}
@media (min-width:501px) and (max-width:1024px) {
  .nav-bar {
    height: 7rem;
  }
}
.nav-bar .container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #E9B870;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
  border-bottom: 0.2rem solid #E9B870;
  box-shadow: 0.1rem 0.1rem 0.5rem #E9B870;
}
@media (min-width:501px) and (max-width:1024px) {
  .nav-bar .container {
    padding: 0 0;
  }
}
@media (max-width: 500px) {
  .nav-bar .container {
    flex-direction: column-reverse;
    min-height: 8rem;
  }
}
.nav-bar .container-left {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  flex-direction: space-around;
  font-family: 'Merienda', cursive;
  font-size: 1.6rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .nav-bar .container-left {
    font-size: 1.2rem;
  }
}
@media (max-width: 500px) {
  .nav-bar .container-left {
    margin-bottom: 1rem;
  }
}
@media (max-width:475px) {
  .nav-bar .container-left {
    font-size: 1.4rem;
  }
}
.nav-bar .container-left ul {
  flex-wrap: wrap;
}
.nav-bar .container-left li {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  padding: 0 2rem;
}
.nav-bar .container-left li a {
  text-decoration: none;
}
.nav-bar .container-left li a:visited {
  color: #303EFF;
}
.nav-bar .container-left li a:focus {
  color: #E9B870;
}
.nav-bar .container-left li:hover {
  text-decoration: underline;
  color: #303EFF;
}
.nav-bar .container-center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex: 3;
  font-size: 3rem;
  color: #E9B870;
  cursor: pointer;
  margin-right: 5%;
}
.nav-bar .btn {
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4.1rem;
  background-color: #FFFFFF;
  color: #E9B870;
  border: 0.1rem solid #636eff;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: 'WaltographRegular';
  font-weight: lighter;
  font-style: normal;
  box-shadow: 0.1rem 0.1rem 0.5rem #E9B870;
}
@media (max-width: 500px) {
  .nav-bar .btn {
    width: 100%;
  }
}
.nav-bar .btn:hover {
  background: #303EFF;
  color: #FFFFFF;
}
@media (max-width: 500px) {
  .nav-bar .btn {
    display: none;
  }
}
.features {
  text-align: center;
}
.features .full-width {
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 1rem 0;
}
.features .full-width h2 {
  margin: 0 0 5.5rem 2.5rem;
  padding: 4rem 0 0 30rem;
  color: #dd9222;
}
@media (max-width: 500px) {
  .features .full-width {
    flex-direction: column;
    padding: 0 0;
  }
}
.features .full-width .third-width {
  width: 33.3%;
  height: 35rem;
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 0.1rem solid #E9B870;
  box-shadow: 0.1rem 0.1rem 0.5rem #dd9222;
  border-radius: 1rem;
  overflow: hidden;
}
.features .full-width .third-width img {
  padding-bottom: 3rem;
  max-width: 30.5%;
  height: auto;
  border: none;
  box-shadow: none;
  border-radius: 0;
  object-fit: cover;
  position: relative;
}
.features .full-width .third-width .shift {
  max-width: 35%;
}
@media (max-width: 500px) {
  .features .full-width .third-width {
    width: 90%;
    margin-bottom: 2rem;
    border: none;
    background: linear-gradient(to right, #fcf4e9, #E9B870);
  }
  .features .full-width .third-width h3 {
    font-size: 2rem;
  }
  .features .full-width .third-width p {
    font-size: 1.2rem;
  }
}
.features .full-width .fa-user-plus,
.features .full-width .fa-handshake,
.features .full-width .fa-grin-alt {
  margin-top: 3rem;
  color: #dd9222;
  font-size: 3rem;
}
.features .full-width .fa-app-store-ios,
.features .full-width .fa-google-play {
  color: #dd9222;
  font-size: 5rem;
  margin: 1rem 4rem;
}
@media (max-width: 500px) {
  .features .full-width .fa-app-store-ios,
  .features .full-width .fa-google-play {
    color: #303EFF;
  }
}
.features h3 {
  font-size: 2.4rem;
  line-height: 3.2rem;
  width: 33%;
  margin: 0 auto;
}
@media (min-width:501px) and (max-width:1024px) {
  .features h3 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}
.features p {
  font-family: 'Merienda', cursive;
  font-size: 1.4rem;
  line-height: 3rem;
  padding: 0 5rem 1rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .features p {
    font-size: 1.2rem;
    padding: 0 1rem 1rem;
  }
}
.header {
  min-height: 50rem;
  height: 100%;
  background: url('../img/castle.jpg') center center;
  background-size: cover;
  position: relative;
}
@media (max-width: 500px) {
  .header {
    margin-top: 3rem;
    max-height: 30rem;
    height: auto;
    background-size: unset;
    background-color: #FFFFFF;
    opacity: 0.95;
  }
}
.header h1 {
  font-size: 6rem;
  color: #FFFFFF;
  padding: 16.3rem 0 2.5rem 61.4rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .header h1 {
    font-size: 4rem;
    padding: 5.3rem 0 2.5rem 6.4rem;
  }
}
@media (max-width: 500px) {
  .header h1 {
    padding: 2rem 0 1rem;
    font-size: 3rem;
    color: #303EFF;
  }
}
.header h3 {
  font-family: 'Merienda', cursive;
  font-size: 3rem;
  color: #FFFFFF;
  padding: 18.6rem 0 2.5rem 36.5rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .header h3 {
    padding: 28.6rem 0 2.5rem 1.5rem;
  }
}
@media (max-width: 500px) {
  .header h3 {
    padding: 0 0 0 0;
    font-size: 1.8rem;
  }
}
.review-section {
  width: 75%;
  min-height: 40rem;
  margin: 4.5rem auto;
  display: flex;
  box-shadow: 0.1rem 0.1rem 0.5rem #dd9222;
  border-radius: 3rem;
  overflow: hidden;
}
.review-section .reviews {
  width: 100%;
}
@media (max-width: 500px) {
  .review-section .reviews {
    flex-direction: column;
  }
}
.review-section .reviews .review-items {
  width: 100%;
  height: auto;
  min-height: 30rem;
  display: flex;
  justify-content: center;
  padding-top: 4.4rem;
  border-radius: 2rem;
}
.review-section .reviews .review-item {
  display: none;
  width: 75%;
}
@media (max-width: 500px) {
  .review-section .reviews .review-item {
    flex-direction: column-reverse;
  }
}
.review-section .reviews .review-item .review-item-title {
  min-width: 7.5rem;
  font-size: 2.4rem;
  font-weight: bold;
  padding-top: 2rem;
  margin-left: 4rem;
  color: #41414C;
}
@media (min-width:501px) and (max-width:1024px) {
  .review-section .reviews .review-item .review-item-title {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .review-section .reviews .review-item .review-item-title {
    padding-bottom: 1rem;
  }
}
.review-section .reviews .review-item-selected {
  display: flex;
  justify-content: space-between;
  color: #41414C;
}
.review-section .reviews .review-item-selected .review-item-description {
  padding: 10rem 4rem 0 0;
  font-family: 'Merienda', cursive;
  font-size: 1.4rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .review-section .reviews .review-item-selected .review-item-description {
    line-height: 1.5;
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 500px) {
  .review-section .reviews .review-item-selected .review-item-description {
    padding-top: 0;
  }
}
.review-section .reviews .reviews-links {
  display: flex;
  background-color: #303EFF;
}
.review-section .reviews .reviews-link {
  padding: 1rem 7.2rem;
  font-size: 2.4rem;
  background-color: #303EFF;
  border-right: 0.1rem solid white;
  color: #FFFFFF;
  cursor: pointer;
}
.review-section .reviews .reviews-link:hover {
  background-color: #636eff;
  color: #E9B870;
}
@media (min-width:501px) and (max-width:1024px) {
  .review-section .reviews .reviews-link {
    padding: 10px 46px;
  }
}
.review-section .reviews .reviews-link-selected {
  z-index: 2;
  border-right: 0.1rem solid #dd9222;
  background-color: #FFFFFF;
  color: #E9B870;
}
.review-section .reviews .reviews-link-selected:hover {
  background-color: #636eff;
}
.review-section .reviews .review-image {
  height: 23rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .review-section .reviews .review-image {
    height: 12rem;
  }
}
.mobile {
  display: none;
}
@media (max-width: 500px) {
  .mobile {
    display: flex;
  }
}
.footer {
  min-height: 60rem;
  height: 100%;
  position: relative;
}
.footer h2 {
  font-size: 4.5rem;
  color: #E9B870;
  padding: 27.3rem 0 5.5rem 81rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .footer h2 {
    padding: 7.3rem 0 5.5rem 7rem;
  }
}
@media (max-width: 500px) {
  .footer h2 {
    padding: 3.1rem 0;
    font-size: 3rem;
  }
}
.footer .btn {
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4.1rem;
  background-color: #FFFFFF;
  color: #E9B870;
  border: 0.1rem solid #636eff;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: 'WaltographRegular';
  font-weight: lighter;
  font-style: normal;
  margin-left: 104rem;
  border-color: #E9B870;
  box-shadow: 0.5rem 0.5rem 0.5rem #E9B870;
}
@media (max-width: 500px) {
  .footer .btn {
    width: 100%;
  }
}
.footer .btn:hover {
  background: #303EFF;
  color: #FFFFFF;
}
@media (min-width:501px) and (max-width:1024px) {
  .footer .btn {
    margin-left: 18rem;
  }
}
@media (max-width: 500px) {
  .footer .btn {
    margin-left: 14rem;
    width: 18rem;
  }
}
.abouthone {
  margin: 2rem 0 2rem 70rem;
  color: #E9B870;
}
@media (min-width:501px) and (max-width:1024px) {
  .abouthone {
    margin: 2rem 0 2rem 26rem;
  }
}
@media (max-width: 500px) {
  .abouthone {
    margin: 6rem 0 1rem 0;
    padding: 0 0 2rem 10rem;
    border-bottom: 0.2rem solid #E9B870;
    box-shadow: 0.1rem 0.2rem #E9B870;
  }
}
.full-width {
  width: 100%;
  margin: 0 auto;
  display: flex;
}
@media (max-width: 500px) {
  .full-width {
    flex-direction: column;
  }
}
.half-width {
  width: 45.5%;
  display: flex;
  min-height: 30rem;
  margin-left: 4.5rem;
  margin-bottom: 2rem;
  flex-flow: row-wrap;
  justify-content: space-between;
  border: 0.1rem solid #E9B870;
  box-shadow: 0.1rem 0.1rem 0.5rem #dd9222;
  border-radius: 1rem;
  overflow: hidden;
}
@media (max-width: 500px) {
  .half-width {
    flex-direction: column;
    width: 90%;
    margin-left: 3rem;
    background: linear-gradient(to right, #fcf4e9, #E9B870);
  }
}
.half-width img {
  margin-top: 2rem;
  margin-left: 2rem;
  height: 23rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .half-width img {
    height: 12rem;
  }
}
@media (max-width: 500px) {
  .half-width img {
    margin-left: 0;
    height: 33rem;
  }
}
.half-width h3 {
  font-size: 5.8rem;
  margin-top: 6rem;
  margin-left: 2rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .half-width h3 {
    font-size: 3.8rem;
    margin-top: 9rem;
  }
}
@media (max-width: 500px) {
  .half-width h3 {
    margin-left: 6rem;
    margin-top: 1rem;
  }
}
.half-width h5 {
  font-size: 4.5rem;
  margin-top: 8rem;
  text-shadow: 0.2rem 0.2rem beige;
}
@media (min-width:501px) and (max-width:1024px) {
  .half-width h5 {
    font-size: 2.5rem;
    margin-top: 18rem;
    margin-left: -7rem;
  }
}
@media (max-width: 500px) {
  .half-width h5 {
    margin-top: 1rem;
    margin-left: 13rem;
    margin-bottom: 1rem;
  }
}
.crop {
  border-radius: 50%;
}
.long img {
  margin-left: 0.5rem;
}
.long h3 {
  margin-left: 0.8rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .long h3 {
    margin-left: -0.2rem;
  }
}
.long h5 {
  margin-top: 6rem;
  margin-left: 0.5rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .long h5 {
    margin-top: 17rem;
    margin-left: -0.5rem;
  }
}
@media (max-width: 500px) {
  .long h5 {
    margin-top: 0;
  }
}
.lead {
  margin-left: 43rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .lead {
    margin-left: 24rem;
  }
}
@media (max-width: 500px) {
  .lead {
    margin-left: 3rem;
  }
}
.lead h3 {
  margin-left: 6rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .lead h3 {
    margin-left: 1rem;
  }
}
.app-links {
  background: url('../img/mnd.jpg') center center;
  background-size: cover;
  position: relative;
}
.app-links h2 {
  font-size: 4.5rem;
  color: #E9B870;
  padding: 27.3rem 0 5.5rem 81rem;
}
@media (min-width:501px) and (max-width:1024px) {
  .app-links h2 {
    padding: 1.3rem 0 5.5rem 10rem;
  }
}
@media (max-width: 500px) {
  .app-links h2 {
    padding: 3.1rem 0;
    font-size: 3rem;
  }
}
.app-links .btn {
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20rem;
  height: 4.1rem;
  background-color: #FFFFFF;
  color: #E9B870;
  border: 0.1rem solid #636eff;
  cursor: pointer;
  font-size: 2.5rem;
  font-family: 'WaltographRegular';
  font-weight: lighter;
  font-style: normal;
  margin-left: 104rem;
  border-color: #E9B870;
  box-shadow: 0.5rem 0.5rem 0.5rem #E9B870;
}
@media (max-width: 500px) {
  .app-links .btn {
    width: 100%;
  }
}
.app-links .btn:hover {
  background: #303EFF;
  color: #FFFFFF;
}
@media (min-width:501px) and (max-width:1024px) {
  .app-links .btn {
    margin-left: 33rem;
  }
}
@media (max-width: 500px) {
  .app-links .btn {
    margin-left: 14rem;
    width: 18rem;
  }
}
.app-links .footer-container {
  display: flex;
  margin-top: 21rem;
}
@media (max-width: 500px) {
  .app-links .footer-container {
    margin-top: 20.5rem;
  }
}
.app-links .footer-container h4 {
  color: #E9B870;
}
@media (max-width: 500px) {
  .app-links .footer-container h4 {
    padding-left: 0;
    font-size: 1.2rem;
    margin-left: 1rem;
  }
}
.app-links .footer-container div.container {
  justify-content: space-around;
  background: rgba(0, 0, 0, 0.5);
}
.app-links .footer-container ul {
  list-style: none;
  margin: 0;
  padding-left: 3rem;
}
@media (max-width: 500px) {
  .app-links .footer-container ul {
    padding-left: 1rem;
  }
}
.app-links .footer-container ul li {
  min-width: 16rem;
  padding: 1rem;
  float: left;
  font-family: 'Merienda', cursive;
  font-size: 1.4rem;
  color: #dd9222;
}
@media (max-width: 500px) {
  .app-links .footer-container ul li {
    min-width: auto;
    font-size: 0.8rem;
    padding: 0.4rem;
  }
}
.app-links h6 {
  color: #E9B870;
  font-size: 2rem;
  margin-top: -0.98rem;
  padding-left: 62rem;
  padding-right: 58rem;
  background: rgba(0, 0, 0, 0.5);
}
@media (min-width:501px) and (max-width:1024px) {
  .app-links h6 {
    padding-left: 29rem;
    padding-right: 20rem;
  }
}
@media (max-width: 500px) {
  .app-links h6 {
    padding: 2rem 0 2rem 13.5rem;
    font-size: 1.2rem;
    background: rgba(0, 0, 0, 0.5);
}
}